*/node_modules/*
code-brawl/node_modules
code-brawl/dist/


/code-runner/target/
/code-runner/build/
*.jar

/vscode-extension/node_modules/
/vscode-extension/dist/
*.vsix

*/.idea/
*/.vscode/

/code-runner/src/main/resources/application.properties


/code-runner/HELP.md
/code-runner/target/
/code-runner/.mvn/wrapper/maven-wrapper.jar
/code-runner/!**/src/main/**/target/
/code-runner/!**/src/test/**/target/

/code-runner/.apt_generated
/code-runner/.classpath
/code-runner/.factorypath
/code-runner/.project
/code-runner/.settings
/code-runner/.springBeans
/code-runner/.sts4-cache

/code-runner/*.iws
/code-runner/*.iml
/code-runner/*.ipr

/code-runner/nbproject/private/
/code-runner/nbbuild/
/code-runner/dist/
/code-runner/nbdist/
/code-runner/.nb-gradle/
/code-runner/build/
/code-runner/!**/src/main/**/build/
/code-runner/!**/src/test/**/build/

